<section class="containerMain">
<section class="contMainTitle">
  <h1>{{tablePeriodicTitle}}</h1>
</section>
<section class="contMainMenu">
<ul>
  <li><img src="../../../assets/math-book.svg" alt="">
    <select id="cars">
      <option value="" selected>Seleccione una definicion</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="vw">VW</option>
    </select>
  </li>
  <li><img src="../../../assets/portapapeles.svg" alt=""><a href="#">generador de informes de
    soporte</a></li>
  <li><img src="../../../assets/llaves.svg" alt=""><a href="#">calculadora de tokens</a></li>
</ul>
</section>
<section class="contMainButton">
  <input type="image" src="../../../assets/flecha-izquierda.svg">
</section>
</section>
