<section class="containerMain">
  <section class="contMainTitle">
    <h1>{{tablePeriodicTitle}}</h1>
  </section>
  <section class="contMainMenu">
    <ul>
      <!-- <li><img src="../../../assets/math-book.svg" alt="">
        <select>
          <option value="" selected>seleccione una definicion</option>
          <option value="metales alcalinos">metales alcalinos</option>
          <option value="alcalinoterreos">alcalinoterreos</option>
          <option value="metales de transicion">metales de transicion</option>
          <option value="otros metales">otros metales</option>
          <option value="metaloides">metaloides</option>
          <option value="no metales">no metales</option>
          <option value="halogenos">halogenos</option>
          <option value="gases nobles">gases nobles</option>
          <option value="lactanidos">lactanidos</option>
          <option value="actinidos">actinidos</option>
        </select>
      </li> -->
      <li><img src="../../../assets/portapapeles.svg" alt=""><a href="#" [routerLink]="['/inform']"
          routerLinkActive="router-link-active">generador de informes de
          soporte</a></li>
      <li><img src="../../../assets/llaves.svg" alt=""><a href="#" [routerLink]="['/calculator']"
          routerLinkActive="router-link-active">calculadora de tokens</a></li>
    </ul>
  </section>
  <section class="contMainButton">
    <!-- <input id="changeW" type="image" src="../../../assets/flecha-izquierda.svg"> -->
  </section>
</section>
