<section class="containerMain">
<section class="contMainTitle">
  <h1>{{tablePeriodicTitle}}</h1>
</section>
<section class="contMainMenu">
<ul>
  <li>
    <select id="cars">
      <option value="" selected>Seleccione una definicion</option>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="vw">VW</option>
    </select>
  </li>
  <li><a href="#">opcion 1</a></li>
  <li><a href="#">opcion 1</a></li>
</ul>
</section>
<section class="contMainButton">
  <button>boton</button>
</section>
</section>
