.containerMain
  width: 96%
  height: 100vh
  margin: 0 auto
  display: grid
  grid-template-rows: 12% auto repeat(2,1fr) 10%
  header
    display: grid
    align-items: center
    justify-content: center
.contaMainForm
  form
    display: grid
    grid-template-columns: repeat(3,1fr)
    height: 100%
    border-bottom: 2px solid #ccc
.contaMainNotes


.contaMainButtons
  display: grid
  grid-template-columns: repeat(3,1fr)
  column-gap: 20px
  div
    input
      padding: 5px 20px

