<section class="containerMain">
  <header class="contMainTitle">titulo</header>
  <section class="contMainHome">
    <app-home-button></app-home-button>
  </section>
  <section class="contaMainForm">
    <form>
      <div>columnas</div>
      <div>columnas</div>
      <div>columnas</div>
    </form>
  </section>
  <section class="contaMainNotes">
    <div>
      <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ol>
    </div>
  </section>
  <section class="contaMainButtons">
    <div>
      <input type="button" value="boton">
    </div>
    <div>
      <input type="button" value="boton">
    </div>
    <div>
      <input type="button" value="boton">
    </div>
  </section>
</section>
