<section class="containerMain">
  <header class="contMainTitle">
    <app-title-component [currentTitle]="title"></app-title-component>
  </header>
  <section class="contMainHome">
    <app-home-button></app-home-button>
  </section>
  <section class="contaMainForm">
    <form [formGroup]="formImforSupp" (ngSubmit)="subFormSupp()">
      <div class="subContMainForm1">
        <h4>datos iniciales</h4>
        <div>
          <label for="">elemento</label>
          <input type="text" formControlName="element" name="element">
        </div>
        <div>
          <label for="">nombre de quien llama</label>
          <input type="text" formControlName="user" name="user">
        </div>
        <div>
          <label for="">telefono</label>
          <input type="text" formControlName="phone" name="phone">
        </div>
        <div>
          <label for="">cargo</label>
          <select id="" formControlName="position" name="position">
            <option value="" selected>escoga un cargo</option>
            <option value="ingeniero quimico">ingeniero quimico</option>
            <option value="estudiante de quimica">estudiante de quimica</option>
            <option value="farmaceuta">farmaceuta</option>
          </select>
        </div>
        <input type="submit" value="enviar">
      </div>

      <div class="subContMainForm2">
        <h4>datos de la falla</h4>
        <div>
          <label for="">descripcion del usuario</label>
          <textarea formControlName="descUser" name="descUser"></textarea>
        </div>
        <h4>diagnostico del agente</h4>
        <div>
          <label for="">Diagnostico</label>
          <select [(ngModel)]="itemSupport"   (change)="arrayProcediment()" formControlName="diagAgent" name="diagAgent">
            <option value="" selected>escoja una causa de la falla</option>
            <option value="mal uso del elemento">mal uso del elemento</option>
            <option value="elemento equivocado">elemento equivocado</option>
            <option value="grupo equivocado">grupo equivocado</option>
            <option value="proposito incorrecto">proposito incorrecto</option>
          </select>
        </div>
      </div>

      <div class="subContMainForm3">
        <h4>procedimiento de soporte sujerido</h4>
        <div>
          <ol *ngFor="let arrayProce of arrayProcess">
            <li>{{arrayProce.solucion}}</li>
          </ol>
        </div>
      </div>
    </form>
  </section>
  <section class="contaMainNotes">
    <div>
      <h4>{{formImforSupp.value.element}} - {{formImforSupp.value.diagAgent}}</h4>
      <ol>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
        <li>Lorem ipsum dolor sit amet.</li>
      </ol>
    </div>
  </section>
  <!-- <section class="contaMainButtons">
    <div>
      <input type="button" value="ver notas">
    </div>
    <div>
      <input type="button" value="ver notas y guardar">
    </div>
    <div>
      <input type="button" value="guardar notas">
    </div>
  </section> -->
</section>
