<section class="containerMain">
<section class="contMainTitle">
  <div>
    <input type="number" placeholder="Ingrese el numero atomico del elemento que desea filtrar" [(ngModel)]="numberAtomic"  (input)="filterAtomicNumber(numberAtomic)" min="0" max="118">
    <button>filtrar</button>
  </div>
  <div>
    <select (change)="selectGroupBlock()" [(ngModel)]="opcionElegida" [ngStyle]="{background: numberStyle}">
      <option value="" selected>seleccione un grupo</option>
      <option value="metales alcalinos">metales alcalinos</option>
      <option value="alcalinoterreos">alcalinoterreos</option>
      <option value="metales de transicion">metales de transicion</option>
      <option value="otros metales">otros metales</option>
      <option value="metaloides">metaloides</option>
      <option value="no metales">no metales</option>
      <option value="halogenos">halogenos</option>
      <option value="gases nobles">gases nobles</option>
      <option value="lactanidos">lactanidos</option>
      <option value="actinidos">actinidos</option>
      <!-- <option *ngFor="let optionSelected of optionSelecteds" [value]="optionSelected.optionss" selected>{{optionSelected.optionss}}</option> -->
    </select>
  </div>
</section>
<!-- <section class="contMainHome">
  <app-home-button></app-home-button>
</section> -->
<section class="contMainTable">
  <table >
    <tr>
      <th [ngStyle]="{background: numberStyle}">número atómico</th>
      <th [ngStyle]="{background: numberStyle}">símbolo</th>
      <th [ngStyle]="{background: numberStyle}">nombre</th>
      <th [ngStyle]="{background: numberStyle}">masa atomica</th>
      <th [ngStyle]="{background: numberStyle}">estado</th>
      <th [ngStyle]="{background: numberStyle}">grupo</th>
      <th [ngStyle]="{background: numberStyle}">año de descubrimiento</th>
    </tr>
    <tr *ngFor="let element of elements  ">
      <td>{{element.atomicNumber}}</td>
      <td>{{element.symbol}}</td>
      <td>{{element.name}}</td>
      <td>{{element.atomicMass}}</td>
      <td>{{element.standardState}}</td>
      <td>{{element.groupBlock}}</td>
      <td>{{element.yearDiscovered}}</td>
    </tr>
  </table>
</section>

</section>
