.containerMain
  display: grid
  grid-template-rows: 12% auto 1fr
  margin: 0 auto
  width: 96%
  height: 100vh



.contMainTable
  table
    width: 100%
    border-collapse: collapse
    tr
      th
        background: #001D4A
        color: white
        padding: 10px 0
        text-align: left
        &:first-child
          border-top-left-radius: 5px
          padding-left: 20px
        &:last-child
          border-top-right-radius: 5px
      td
        &:first-child
          padding-left: 20px


