<section class="containerMain">
<section class="contMainTitle">
  <div>
    <input type="text" placeholder="Ingrese el numero atomico del elemento que desea filtrar">
    <button>filtrar</button>
  </div>
  <div>
    <select>
      <option value="" select>seleccione un grupo</option>
      <option value="">opciones</option>
      <option value="">opciones</option>
    </select>
  </div>
</section>
<section class="contMainHome">
  <app-home-button></app-home-button>
</section>
<section class="contMainTable">
  <table >
    <tr>
      <th>símbolo</th>
      <th>nombre</th>
      <th>masa atomica</th>
      <th>número atómico</th>
      <th>estado</th>
      <th>estado</th>
      <th>año de descubrimiento</th>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>Jackson</td>
      <td>Jackson</td>
      <td>Jackson</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>John</td>
      <td>John</td>
      <td>John</td>
      <td>John</td>
      <td>John</td>
      <td>John</td>
      <td>Doe</td>
    </tr>
  </table>
</section>
<footer>
  <app-credits></app-credits>
</footer>
</section>
