.containerMain
  display: grid
  grid-template-rows: 12% 5.5% 1fr auto
  margin: 0 auto
  width: 96%
  height: 100vh
.contMainTable
  margin-top: 30px
  overflow-y: scroll
  table
    width: 100%
    border-collapse: collapse
    tr
      // display: grid
      // grid-template-columns: repeat(7,1fr)
      th
        background: #001D4A
        color: white
        padding: 0.625rem 0
        text-align: left
        text-transform: capitalize
        position: sticky
        top: 0
        &:first-child
          border-top-left-radius: 0.625rem
          padding-left: 1.25rem
        &:last-child
          border-top-right-radius: 0.625rem
      td
        padding: 10px 0
        border-bottom: 1px solid #ccc
        &:first-child
          padding-left: 1.25rem
.contMainTitle
  display: grid
  grid-template-columns: auto auto
  justify-content: space-between
  align-items: center
  div:nth-child(1)
    input
      width: 350px
      border: 2px solid #ccc
      border-radius: 5px
      padding: 10px 0 10px 20px
    button
      text-transform: capitalize
      padding: 10px 20px
      margin-left: 20px
      border-radius: 10px
      background: none
  div:nth-child(2)
    select
      background: #001D4A
      color: white
      text-transform: capitalize
      width: 300px
      font-weight: bold
      padding: 10px 10px
      border-radius: 10px
.contMainHome
  display: grid
  align-items: end
