<main class="containerMain">
  <header class="contMainTitle">
    <app-title-component [currentTitle]="title"></app-title-component>
  </header>
  <nav class="contMainHome">
    <app-home-button></app-home-button>
  </nav>
  <section class="contInstCal">
    <div>
      <h4>instrucciones de uso</h4>
      <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
      </ol>
      <form action="">
        <div>
          <label for="">fecha de recarga</label>
          <input type="date" name="dateCurrent1" id="dateCurrent1" [value]="valueDataCurrent1">
        </div>
        <div>
          <label for="">fecha actual</label>
          <input type="date" name="dateCurrent2" [(ngModel)]="dateCurrent2">
        </div>
        <div>
          <label for="">tokens mes anterior</label>
          <input type="number" name="dateCurrent2" [(ngModel)]="dateCurrent3">
        </div>
        <div>
          <label for=""></label>
          <input type="button" value="calcular" (click)="daytoken()">
        </div>
        <div><strong>resultado</strong><span>80<strong> tokens</strong></span></div>
      </form>
    </div>
  </section>
  <section class="contFormCalc">

  </section>
</main>


