
  <div class="contCredits">
    <div>
      <span>web diseñada por: francisco becerra rodriguez</span>
    </div>
    <div>
      <span>Iconos diseñados por</span>
      <a href="https://www.flaticon.es/autores/pixel-perfect" title="Pixel perfect">Pixel perfect from: </a>
      <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a>
    </div>
    <div>
      <a href="https://github.com/neelpatel05/periodic-table-api">info elements https://github.com/neelpatel05/periodic-table-api</a>
    </div>
  </div>


